<!DOCTYPE html>
<html>
    <link rel = "stylesheet" type = "text/css" href = "../static/CSS/assignments.css">
    <head>
        <title>Assignments</title>
    <head>
    <div>
        <nav>
            <ul style= "list-style: none"; id= "menu">  
                <li id= "menu"> <a href= "/"> Home page</li>
                <li id= "menu"> <a href= "/assignments"> ENGI 1006 Assignments</a></li>
                <li id= "menu"> <a href= "/classes"> Spring 2020 Classes</a></li>
            </ul>
        </nav>
    </div>
    <body>
    
    <h2>Homework 1A</h2>
        We dealt with the concepts of number base 
        conversions. We wrote pseudocode for an algorithm which takes
        a decimal number as input, and converts it to binary.
        We converted between binary, positive binary, signed binary,
        one's complement, two's complement, and octal.
        We learned how to add two positive binary numbers.
        We wrote an algorithm to calculate compound interest and find
        the time until depletion.
        We also worked with truth tables.    
    
    <h2>Homework 1B</h2>
        We wrote a program that asks for a user's name, says
        hello to the user, and calculates
        various bits of information such as the number of letters in 
        the name, the number of odd letters in the name. We also
        printed out the name letter by letter.
        We implemented this program with the central concept of using
        functions.
        
        We worked with python lists and performed a variety of operations
        on lists, such as swapping elements, shifting elements, replacing
        elements, comparing elements, and removing elements.
    
    <h2>Homework 2A</h2>
        We worked with a variety of sorting and searching algorithms 
        such as binary search, insertion sort, selection sort, 
        and mergesort. We looked at a variety of implementations 
        and analyzed the run times of each sorting algorithm. 
        We compared the efficiency of different sorting algorithms 
        and how they might be used in various situations.
        
      
    <h2>Homework 2B</h2>
        We created a program to simulate projectile motion that took into
        account many factors such as initial velocity, radius of the earth,
        mass of the earth, etc. 
        We learned to create plots in python.
        We began building a machine learning application to analyze a 
        real world dataset. The dataset we analyzed is malignant/benign
        cells in human breast cancer tissue.
        We implemented a variety of utility functions, such as creating a 
        dictionary, reading in a csv file, processing a csv file, and 
        providing some basic statistics on the dataset.


    <h2>Homework 3A</h2>
        We wrote pseudocode for two set operations - add and union - using
        two different implementations. The first implementation was with lists,
        and the second implementation was with dictionaries.
        We analyzed the time complexity for each implementation and compared
        their efficiency.
        We learned about recursion and implemented three recursive algorithms:
        One to calculate powers, another to find permutations, and another
        to determine if a word is a palindrome.


    <h2>Homework 3B</h2>
        We wrote a percolation module in Python to solve the vertical
        percolation problem - determine if water would flow through a 
        random maze-like structure and go out of the other end.
        We learned about numpy and arrays. We also learned about recursion
        and implemented the percolation algorithm using recursion.

        We continued to create our machine learning application.
        We implemented more functions to provide some statistics about our
        datasets.
        We calculated the number of benign and malignant entries in the
        dataset. We modified the dataset to strip the client ID, and we
        split the dataset into test and training data based on percentages.

    <h2>Homework 4</h2>
        The central concept of this homework was object oriented programming.
        We used OOP concepts to build a class, consisting of a teacher,
        students, and assignments. The program generates and enrolls students,
        generates assignments, calculates grades, and calculates pay for 
        the teacher.
        The program also outputs information such as number of students,
        number of assignments, average grade for each assignment, 
        class average, teacher's total pay, grades per students, grades
        per assignment, and assignment difficulty.


    <h2>Homework 5</h2>
        We finished our machine learning library.
        We implemented more features using pandas, seaboard, and scikit-learn.
        We used pandas to calculate skewness and kurtosis for each column in
        the dataset. We also used pandas to calculate the mean and standard
        deviation for each column, grouped into benign/malignant.
        We used seaboard to plot more advanced information.
        We created pairplots of each column against other columns.
        We also created a heatmap of the column correlations.
        We implemented our own k nearest neighbors algorithm.
        Finally, we used scikit-learn to implement k nearest neighbors
        as well as support vector machine classifier to predict whether
        a cell is benign or malignant.

    <h2>Midterm</h2>
        We wrote a program to perform three operations on ppm images. 
        One operation was to filter an image based on three images, and
        using the majority rules to remove unwanted objects from the images.
        The second operation was to take an image and create a black-white
        version by taking the average value of each pixel triplet.
        The third operation was to take an image an flip it horizontally
        (left-right) to create a mirror image of the original.


    <h2>Final</h2>
        This is the final project! We are creating our own website
        using flask and html.
        You are currently on the assignments page, which gives you information
        about all the assignments we had in this class.
        If you visit the home page, there is a picture of me, as well as other
        information about me such as my year, my major, and my favorite website.
        There is one more page - a class page. The class page lists all of the
        cool classes I have taken this semester. I also tell you about my favorite
        class.
        
    <h2> Favorite Assignment </h2>
        My favorite assignment in this class has been working on the machine
        learning library to analyze our dataset. I am super interested in 
        machine learning and AI, and this was my first time learning a little
        bit of how all of it works. For me, this assignment kind of
        demystified how machine learning actually works. I used to think it
        was some super complex idea, but it turns out that machine learning
        boils down to statistics, multivariable calculus, and linear algebra
        to essentially try and reduce error.       
    
    </body>
</html>



