<!DOCTYPE html> 
<html>
    <link rel= "stylesheet" type= "text/css" href= "../static/CSS/classes.css">
    <head>
        <title>Classes</title>
    <head>
    <body>
        <div>
            <nav>
                <ul style= "list-style: none"; id= "menu">  
                    <li id= "menu"> <a href= "/"> Home page</li>
                    <li id= "menu"> <a href= "/assignments"> ENGI 1006 Assignments</a></li>
                    <li id= "menu"> <a href= "/classes"> Spring 2020 Classes</a></li>
                </ul>
            </nav>
        </div>
        <h1>Spring 2020 Classes</h1>
        <ul>
            <li><h2><b>MATH 2030 - Ordinary Differential Equations</b><h2></li>
            <li><h2><b>MATH 2010 - Linear Algebra</b><h2></li>
            <li><h2><b>COMS 3137 - Honors Data Structures and Algorithms</b><h2></li>
            <li><h2><b>COMS 3203 - Discrete Mathematics</b><h2></li>
            <li><h2><b>ENGI 1006 - Introduction to Computing for Engineers and Applied Scientists</b><h1></li>
        </ul>
        
        <h1>Favorite Class</h1>
        <h2>
            My favorite class I have taken so far is data structures 
            (COMS 3137) with Professor Blaer. It was super interesting to 
            learn about all the different types of data structures present 
            in the things we use every day such as google maps, microsoft 
            word, or even an online dictionary. It was really fun to 
            implement the various data structures and create just a small 
            portion of these very complex programs.
        </h2>
    </body>
</html>

