<!DOCTYPE html>
<html>
    <link rel= "stylesheet" type= "text/css" href= "../static/CSS/index.css">
    <head>
        <title>Home</title>
    <head>
    <body>
        <p><b><h1>Welcome to Brian Yang's ENGI 1006 Homepage!</h1></b></p>
        <div class= "website" align= "middle">
        <img src= "/static/images/profilepic.jpg" alt= "Picture: Senior Concert">
        
        <b><h2>Grade: </b> Sophomore</h2>
        <b><h2>Major: </b> Computer Science, Applied Math</h2>
        <a href= "https://www.wsj.com/"> <b><h2>My favorite website</h2></b></a>
        <a href= "/assignments"> <b><h2>ENGI 1006 Assignments</h2></b></a>
        <a href= "/classes"> <b><h2>Classes I took this semester</h2></b></a>
    </body>
</html>

 